<div class="grid grid-cols-6  ">
    <div class="col-span-1 px-1">
        <app-side-bar></app-side-bar>
    </div>
    <div class="h-[723px]  scrollable-div3  py-2 pr-1 col-span-5   rounded-sm grid grid-rows-4 ">
        <div style="background-repeat: no-repeat; background-size: cover; background-size: 100%;" class="bg-bgleaf row-span-1 flex items-center justify-start p-2 h-full w-full rounded-sm  text-7xl">
            <div class="flex flex-col cursor-default">
                <div class="text-white font-light">
                    My 
                </div>
                <div class=" text-white font-black">
                    Tasks
                </div>
            </div>
            
            
            
            
        </div>
        <div class="row-span-3  rounded-md px-2   text-white">
            
            <div class="h-5/6 scrollable-div3">
                <div class="p-2 text-4xl">
                    Pending Tasks
                </div>
                <div class="  p-2 w-full  h-fit">
                    @for (item of tasks$ | async; track $index) {<app-task-bar [data]="item"></app-task-bar>}
                </div>  
                <div class="p-2 text-4xl">
                    Completed Tasks
                </div>
                <div class="  p-2 w-full  h-fit">
                    @for (item of completed$ | async; track $index) {<app-task-bar [data]="item"></app-task-bar>}
                </div>  
            </div>
            <div class="flex items-end justify-end w-full">
                <div class="flex items-center justify-center h-12 w-12 bg-purple-600 cursor-pointer rounded-full text-[#161B22] text-lg shadow-sm shadow-black font-black p-2">
                    +
                </div>
            </div>
        </div>
       
    </div> 

</div>